%h2
  Users

%p
  = link_to new_user_invitation_path do
    Invite new users

    - unless @users.blank?
      %table.pure-table.pure-table-horizontal
        %thead
          %tr
            %th Email

        %tbody
          - @users.each do |user|
            %tr
              %td= user.email
              %td
                - if user != @current_user
                  = link_to user_path(user), method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'pure-button' do
                    delete
