The requirements referred to in subsection (1)﻿(d) are as follows:
(a)

that the applicant is entitled in terms of the Immigration Act 2009 to be in New Zealand indefinitely:
(b)

that the applicant was present in New Zealand—
(i)

for a minimum of 1 350 days during the 5 years immediately preceding the date of the application; and
(ii)

for at least 240 days in each of those 5 years,—

being days during which the applicant was entitled in terms of the Immigration Act 2009 to be in New Zealand indefinitely: