  <%# <strong>Client Number</strong>
  <%= @client.im_client_id %>

  <h2>Movements</h2>
  <% if @movements %>
    <%-@movements.each do |movement|%>
      <table border="1">
        <thead>
          <tr>
            <th>Carrier Date Time</th>
            <th>Direction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=movement.carrier_date_time%></td>
            <td><%=movement.direction%></td>
          </tr>
        </tbody>
      <table>
    <%end%>
  <%end%> %>
