

  <header class="main">
    <h1>Presence results</h1>
  </header>

  <%= render partial: 'search' %>

  <%- if @clients.size.positive? %>
    <%- @clients.each do |client| %>
      <%= react_component("Identity", props: {id: client.nil? ? '' : client.id,
        identities: @identities
        }) %>

        <div class="results">
          <h2>Presence Data</h2>
          <div>

            <div class="panel">
              <header>
                <h3>Eligible Now</h3>
              </header>
              <div>
              <p>Today's date 1 April 2018</p>
                <button class="btn success">Change date</button>
                </div>
            </div>

            <div class="panel">
              <header>
                <h3>Dates eligible to apply</h3>
              </header>
              <div>
              <ul class="list-stripped">
                <li>1 April 2018 -- 13 April 2018</li>
                <li>5 Mat 2018 -- 13 May 2018</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    <% end %>
  <%else%>
    <p>There are no results containing the term(s) <%= params[:search] %>.</p>
  <%end%>
  <%= yield %>
</div>

