

  <header class="main">
    <h1>Presence results</h1>
  </header>

  <%= render partial: 'search' %>

  <%- if @clients.size.positive? %>
    <%- @clients.each do |client| %>
      <li><%= link_to client, client_path(client) %></li>
    <% end %>
  <%else%>
    <p>There are no results containing the term(s) <%= params[:search] %>.</p>
  <%end%>
  <%= yield %>
</div>

