<%= form_tag(home_index_path, :method => "get", id: "search-form") do %>
  <div class="well">
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", class: 'btn success' %>
  </div>
<% end %>
