<%= form_tag(identities_path, :method => "get", id: "search-form") do %>
  <div class="well">
    <%= text_field_tag :serial_number, params[:serial_number], placeholder: "Serial Number" %>
    <%= submit_tag "View", class: 'btn success' %>
  </div>
<% end %>
