= form_tag(identities_path, :method => "get", id: "search-form") do
  .well
    %label
      %span.heading Passport No.
      = text_field_tag :serial_number, params[:serial_number]
      = submit_tag "Search", class: 'btn success'
