$grey: #a4a4a4;
$light-grey: #ccc;
$extra-light-grey: rgb(225, 225, 225);
$dark-grey: rgb(51, 51, 51);
$lighter-grey: #717171;
$blue: #3593b4;
$light-blue: rgb(169, 220, 228);
$light-blue-transparent: rgba(105, 172, 225, .8);
$white: #fff;
$light-white: rgb(252, 252, 252);
$off-white: rgb(238, 238, 238);
$dark-white: #d3d3d3;
$green: #008000;
$light-green: rgb(167, 225, 180);
$light-red: rgb(255, 167, 167);
$main-menu-grey: hsla(0, 0%, 100%, .75);
$dark-blue: #24292e;
$black: #000;
$red: #ff0000;
$grey-blue: rgba(167, 225, 180, .15);
$red-transparent: rgba(255, 167, 167, .15);
