$grey: #a4a4a4;
$light-grey: #ccc;
$extra-light-grey:rgb(225, 225, 225);
$dark-grey: rgb(51, 51, 51);
$blue: #3593b4;
$light-blue: rgb(169, 220, 228);
$white: #fff;
$off-white: rgb(238, 238, 238);
$dark-white: #d3d3d3;
$green: #008000;
$light-green: rgb(167, 225, 180);
$light-red: rgb(255, 167, 167);
