body {
  font-family: Arial, Helvetica, sans-serif;
}

.well {
  background: rgb(238, 238, 238);
  padding: 20px;
}

.btn {
  width: 200px;
  background-color: blue;
  color: #fff;
  font-weight: bold;
}

input[type=text] {
  border: 1px solid #ccc;
  padding: 10px 5px;
  font-weight: 18px;
  width: 300px;
  margin-left: 15px;
}

.container {
  width: 60%;
  margin: 0 auto;
}

header.main {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}
