%h2 Logs

= paginate @events

%table{cellpadding:10}
  %thead
    %tr
      %th User
      %th Page
      %th Controller
      %th Started At
      %th IP Address
      %th Browser
      %th Device Type
      

  %tbody
    - @events.each do |event|
      %tr
        %td=event.user.email
        %td=event.properties['action']
        %td=event.properties['controller']
        %td=event.visit.started_at.strftime("%d/%m/%Y %l:%M%P")
        %td=event.visit.ip
        %td=event.visit.browser
        %td=event.visit.device_type
        
= paginate @events
